@page
@model PeaceKeychains.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About Peace Keychains";
}

<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>In 2020 Rod and Stephani Brower started to travel more. Before retiring, Rod worked at a machine shop. He put those skills
    to work to make peace signs to give out while travelling, with a goal of spreading peace and love.</p>

    <p>They love to see where their peace signs get to, and hear any stories you might have, so please contribute.</p>
</div>
