@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>By uploading pictures or stories, you grant Peace Keychains the right to display your content on our site. Beyond the
    pictures and text you upload, Peace Keychains does not store any information about you, and does not share anything with
    any other companies.</p>

    <p>Please contact us if you are aware of any copyright issues in the content we display.</p>
</div>
