@page
@model PeaceKeychains.Web.Pages.SubmitModel
@{
    ViewData["Title"] = "Submit";
}

<div class="text-left">
    <h1 class="display-4">Submit a story</h1>

    @if (!ModelState.IsValid)
    {
        <div class="alert-warning">Please supply a Title and User</div>
    }
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titleTextBox">Title</label>
            <input id="titleTextBox" name="title" class="form-control form-control-lg" placeholder="Something catchy..." />
        </div>
        <div class="form-group">
            <label for="userTextBox">User</label>
            <input id="userTextBox" name="user" class="form-control" placeholder="email/twitter/insta, or whatever" />
        </div>
        <div class="form-group">
            <label for="textTextBox">Text</label>
            <textarea id="textTextBox" name="text" class="form-control" row="3" placeholder="Tell everyone the story of how you got your Peace Keychain"></textarea>
        </div>
        <div class="form-group">
            <label for="imageFileName">Image</label>
            <input id="imageFileName" name="image" type="file" class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        <p>Note: There might be a delay before you see your submission until the moderators review it, please be patient, and avoid resubmitting</p>
    </form>

</div>
